<script src="/public/javascripts/header.js" defer></script>
<nav id="nav">
    <ul>
        <li><a class="icon fa-home" id="dashboard"></a></li>
        <li><a class="icon fa-camera-retro" id="gallery"></a></li>
        <li><a class="icon fa-file-text-o" id="favourites"></a></li>
        <li><a class="fa fa-sign-out" id="logout"></a></li>
    </ul>
</nav>